@import url('themes.css');
@import url('common.css');
@import url('animations.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "Open Sans", Helvetica, sans-serif;

}

body{
    width: 100%;
    height: 100%;
    
}

html{
scroll-behavior: smooth;
}

#div-mae{
    display: flex;
}

/* ------ HEADER ------ */

#header {
    width: 100%;
    height: 130px; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    background-color: transparent;
    transition: background-color 0.5s ease, transform 0.3s ease, opacity 0.3s ease; 
    animation: blink 1.5s ease-in-out; 
}

/* efeito de encolhimento */
#header.abaixado {

    height: 100px; 
    padding: 10px 20px; 
}

/* nav */
#header-nav {
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

/* logo */
#header-esquerdo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#studioghibli-logo {
    font-size: 2.3em;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.1;
    transform: scaleX(0.7);
    margin-left: 30px;
    transition: color 0.3s ease, transform 0.3s ease; 
    cursor: pointer;
}

#studioghibli-logo:hover{
    transform: scaleX(0.2);
    transform: scaleY(1.1);
}

/* centro */
#header-meio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
}

#header-meio ul {
    display: flex;
    list-style: none;
    margin-left: 20px;
}

#header-meio ul li {
    margin: 0 15px;
    transition: color 0.3s ease, transform 0.3s ease; 
}

#header-meio ul li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;  
    cursor: pointer;
}

#header-meio ul li:hover {
    transform: scale(1.2);
}

/* botões lado direito */
#header-direita {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5%;
}

#header-direita button {
    background: none;
    border: none;
    margin: 0 8px;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
}

#header-favorito{
    width: 30px;
    height: 30px;
    transition: color 0.3s ease, transform 0.3s ease;
}

#header-favorito:hover {
    transform: scale(1.2);
}

/* efeito para esconder o header */
.escondido {
    transform: translateY(-100%);
    opacity: 0; 
    transition: transform 0.3s ease-out, opacity 0.3s ease-out; 
}

#header:not(.escondido) {
    transform: translateY(0); 
    opacity: 1; 
}


@media (max-width: 768px) {
    
    #header {
        height: 100px;
    }

    /* esconde a navegação central pra responsividade */
    #header-meio {
        display: none; 
    }

    /* Logo */
    #studioghibli-logo {
        font-size: 1.8em;
    }

    #header-direita {
        margin-right: 10px;
    }

    #header-direita button {
        margin: 0 5px;
    }

    #header-direita img {
        width: 25px;
        height: 25px; 
    }
}

@media (max-width: 480px) {
    
    #header {
        height: 80px;
    }

    /* navegação */
    #header-meio ul li {
        font-size: 12px; 
    }

    /* logo */
    #studioghibli-logo {
        font-size: 1.5em;
    }

    #header-meio ul li {
        margin: 5px 0;
    }

}

/* ------ MENU OFF-SCREEN ------ */

.menu-offscreen:not(.aberto){
    display: none;
}

.menu-offscreen.aberto{
    z-index: 100;
    right: 0;
    height: 100vh;
    display: flex;
    margin-right: 10%;
    align-items: center;
    position: absolute;
    transition: right 1s ease-out;
}

.menu-nav-opcoes ul{
    list-style: none;
    animation: fade-in 1s ease-in-out;
}

.menu-nav-opcoes li{
    margin-bottom: 15px;
}

.menu-nav-opcoes ul li a{
    text-decoration: none;
    font-weight: bold;  
    cursor: pointer;
    font-size: 1.5em;
    transition: color 0.3s ease, transform 0.3s ease;
    display: inline-block;
}

.menu-nav-opcoes ul li a:hover{
    transform: scale(1.2);
}

.fechar-menu{
    all: unset;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-color: var(--branco);
    margin-right: 95px;
    transition: transform 1s ease-out, opacity 1s ease-out; 
    animation: fade-in 1s ease-in-out;
}

.fechar-menu:hover{
    cursor: pointer;
    transform: scale(1.2);

}

/* ------ SESSÃO DESTAQUE ------ */

.principal{
    width: 100%;
    height: 100%;
    position: relative;
}

#imagem-principal{
    width: 100%;
    height: 100vh;
    background-size: cover;  
    background-position: center;
}

#imagem-principal-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 65%),
                linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 20%);
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 10px;
}

#studioghibli-span{
    display: flex;
}

#theme-changer {
    all: unset;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
    margin-bottom: 2.8%;
    margin-left: 5%;
}

#theme-changer:hover {
    transform: scale(1.2);
}

#studioghibli-h2{
    margin-bottom: 3%;
    margin-left: 30%;
    animation: revealText 2s forwards;
}

#studioghibli-proxima-sessao{
    margin-bottom: 3%;
    position: absolute;
    right: 6%;
    cursor: pointer;
}

@media (max-width: 768px) {

    .principal {
        background-position: center top;
    }

    

    #imagem-principal-overlay{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end; 
    }

    #studioghibli-h1 {
        font-size: 3rem; 
    }

    #studioghibli-h2 {
        font-size: 1.2rem;
        margin-left: 8.5%;    
    }

    #studioghibli-proxima-sessao {
        position: absolute;
        right: 20px;
        bottom: 10%;
    }

    /* responsividade imagem-princiapl por temas*/

    .vagalumes #imagem-principal{
        background-size: cover;  
        background-position: center ;
        transition: var(--transicao);
    }

    .totoro #imagem-principal{
        background-size: cover;  
        background-position: 70% ;
        transition: var(--transicao);
    }

    .kaguya #imagem-principal{
        background-size: cover;  
        background-position: 30% ;
        transition: var(--transicao);
    }
}

@media (max-width: 480px) {

    #studioghibli-h1 {
        font-size: 2.5rem; 
    }

    #studioghibli-h2 {
        font-size: 1rem;
    }
}

/* ------ SESSÃO SIGNIFICADO GHIBLI (Abaixo da destaque) ------ */

.significadoGhibli{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
    animation: revealText 2s forwards;
}

#significadoGhibli-h1{
    font-size: 2vw;
    text-align: center;

}

@media (max-width: 768px) {
    .significadoGhibli{
        width: 100%;
        height: 300px;
    }

    #significadoGhibli-h1{
        font-size: 1.4em;
        margin: 20px;
    }
}

/* ------ SESSÃO INFORMAÇÕES GHIBLI ------ */

.sessao-info {
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 60px;
}

.sessao-info-esquerda {
    width: 50%;
    margin-left: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    border-radius: 50px;
}

.sessao-info-direita {
    width: 50%;
    display: flex;
    justify-content: center; 
    align-items: center;
}

#imagem-info-direita{
    width: 800px;
    height: 500px;
    transition: 0.5s ease-in-out;
}

@media (max-width: 1024px) {
    .sessao-info {
        flex-direction: column; 
        margin-top: 30px;
    }

    .sessao-info-esquerda, .sessao-info-direita {
        width: 100%; 
        margin-left: 0;
    }

    .sessao-info-esquerda {
        margin-bottom: 20px;
    }
    
    .titulo-topico{
        font-size: 1.4em;
        margin-left: 25px;
        font-weight: 600;
        margin-top: 10px;
    }

    .paragrafo-texto{
        font-size: 1em;
        margin-left: 25px;
        margin-right: 25px;
    }
}

@media (max-width: 480px) {
    .sessao-info {
        margin-top: 20px; 
    }

    .sessao-info-esquerda {
        margin-left: 0; 
    }

    .sessao-info-direita {
        margin-top: 20px; 
    }
}

/* --- slider --- */
.slider {
    position: relative;
    width: 100%;
    max-width: 400px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-imagem {
    width: 100%;
    max-width: 400px; 
    max-height: 450px; 
    object-fit: cover; 
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;
}

.botao-slider {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
}
.botao-slider:first-of-type {
    left: 10px; 
}

.botao-slider:last-of-type {
    right: 10px;
}

@media (max-width: 1024px) {
    .slider{
        margin-top: 25px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .slider-imagem{
        max-height: 350px
    }
}

/* */