:root{
    --branco: #f3f3f3;
    --branco-puro: #FFFFFF;
    --preto: #333333;
    --cinza-escuro: #3b3b3b;
    --cinza: #767676;
    --transicao: 0.5s ease-in-out
}

/*--*/

.chihiro {
    --chihiro-azul-escuro: #0B305C;
    --chihiro-azul-claro: #aacae0;
    --chihiro-verde-escuro: #216862;
    --chihiro-verde-persa: #30A094;
    --chihiro-azul: #01628F;
    --chihiro-verde: #53A253;
}

.vagalumes {
    --vagalumes-vermelho: #941919;
    --vagalumes-vermelho-escuro: #4C1E14;
    --vagalumes-preto: #110905;
    --vagalumes-amarelo-fogo: #FEA619;
    --vagalumes-laranja: #E27C17;
}

.kaguya {
    --kaguya-rosa-claro: #FEBAD3;
    --kaguya-rosa-choque: #F476A8;
    --kaguya-ciano: #4B5868;
    --kaguya-chumbo: #5A6A7E;
    --kaguya-creme: #FFF5F4;
    /*--branco: #f3f3f3;*/
}

.totoro {
    --totoro-amarelo: #EFE604;
    --totoro-amarelo-escuro: #d4cd00;
    --totoro-laranja: #F7744F;
    --totoro-verde-abacate: #62782F;
    --totoro-ebono: #494D41;
    --totoro-verde: #435c1c;
    --totoro-azul-ceu: #90D0DA;
    --totoro-verde-grama: #80AD35;
}

.teste{
    --woocommerce: #720eec;
    --wc-green: #7ad03a;
    --wc-red: #a00;
    --wc-orange: #ffba00;
    --wc-blue: #2ea2cc;
    --wc-primary: #720eec;
    --wc-primary-text: #fcfbfe;
    --wc-secondary: #e9e6ed;
    --wc-secondary-text: #515151;
    --wc-highlight: #958e09;
    --wc-highligh-text: white;
    --wc-content-bg: #fff;
    --wc-subtext: #767676;
    --wc-form-border-color: rgba(32, 7, 7, 0.8);
    --wc-form-border-radius: 4px;
    --wc-form-border-width: 1px;
    --mobile-container-width: 88%;
    --nectar-accent-color: #3452ff;
    --nectar-extra-color-1: #ff1053;
    --nectar-extra-color-2: #2ed397;
    --nectar-extra-color-3: #8224e3;
    --nectar-bg-color: #ffffff;
    --header-nav-height: 124px;
    --nectar-border-thickness: 2px;
    --nectar-starting-header-color: #ffffff;
    --nectar-starting-dark-header-color: #000000;
}

/* ---------- CHIHIRO ---------- */

.chihiro #div-mae {
    background: rgb(1,98,143);
    background: linear-gradient(270deg, rgba(1,98,143,1) 0%, rgba(243,243,243,1) 100%);
    transition: var(--transicao);
}


.chihiro #div-filha{
    background-color: var(--branco);
    transition: var(--transicao);
}

/* ------ common.css ------ */

.chihiro .paragrafo-texto{
    color: var(--preto);
    transition: var(--transicao);
}

.chihiro .link{
    color: var(--chihiro-verde);
    transition: var(--transicao);
}

.chihiro .link:hover{
    color: var(--chihiro-verde-escuro);
    transition: var(--transicao);
}

/* ------ globals.css ------ */

.chihiro .titulo-sessao-destaque, .chihiro .subtitulo-sessao-destaque, .chihiro #studioghibli-logo, .chihiro #header-meio ul li a{
    color: var(--branco-puro);
    transition: var(--transicao);
}

.chihiro #header-meio ul li a:hover, .chihiro #header-favorito:hover, .chihiro #rect-hamburguer-menu:hover, .chihiro #studioghibli-setinha:hover{
    color: var(--chihiro-azul-claro);
    fill: var(--chihiro-azul-claro);
    stroke: var(--chihiro-azul-claro);
    transition: var(--transicao);
}

.chihiro #header-favorito, .chihiro #rect-hamburguer-menu, .chihiro #studioghibli-setinha{
    fill: var(--branco-puro);
    stroke: var(--branco-puro);
    transition: var(--transicao);
}

.chihiro #header.abaixado{
    background-color: var(--chihiro-azul); 
}

.chihiro .menu-nav-opcoes ul li a{
    color:var(--branco-puro)
}

.chihiro .menu-nav-opcoes ul li a:hover{
    color: var(--chihiro-azul-escuro);
}

.chihiro .titulo-topico{
    color: var(--preto);
}



/* --- principal --- */


/* --- sessao significado ghibli --- */

.chihiro #significadoGhibli-h1{
    color: var(--preto);
}

/* --- sessão info --- */

.chihiro #imagem-info-direita {
    background-image: url('../../public/imgs/chihiro-icon.png');
}





/* ---------- VAGALUMES ---------- */

.vagalumes #div-mae{
    background: rgb(148,25,25);
    background: linear-gradient(270deg, rgba(148,25,25,1) 0%, rgba(17,9,5,1) 100%);
    transition: var(--transicao);
}

.vagalumes #div-filha{
    background-color: var(--vagalumes-preto);
}



/* --- principal --- */

.vagalumes .titulo-sessao-destaque, .vagalumes .subtitulo-sessao-destaque, .vagalumes #studioghibli-logo, .vagalumes #header-meio ul li a{
    color: var(--vagalumes-amarelo-fogo);
    transition: var(--transicao);


}

.vagalumes #header-meio ul li a:hover, .vagalumes #header-favorito:hover, .vagalumes #rect-hamburguer-menu:hover, .vagalumes #studioghibli-setinha:hover{
    color: var(--vagalumes-laranja);
    stroke: var(--vagalumes-laranja);
    fill: var(--vagalumes-laranja);
    transition: var(--transicao);
}

.vagalumes #header-favorito, .vagalumes #rect-hamburguer-menu, .vagalumes #studioghibli-setinha{
    fill: var(--vagalumes-amarelo-fogo);
    stroke: var(--vagalumes-amarelo-fogo);
    transition: var(--transicao);
}

.vagalumes #header.abaixado{
    background-color: var(--vagalumes-vermelho-escuro); 
    transition: var(--transicao);
}

.vagalumes .menu-nav-opcoes ul li a{
    color:var(--vagalumes-laranja)
}

.vagalumes .menu-nav-opcoes ul li a:hover{
    color: var(--vagalumes-vermelho-escuro);
}

/* --- */



.vagalumes #significadoGhibli-h1{
    color: var(--vagalumes-laranja);
    transition: var(--transicao);
}

.vagalumes .titulo-topico{
    color: var(--vagalumes-amarelo-fogo);
    transition: var(--transicao);
}

.vagalumes .paragrafo-texto{
    color: var(--vagalumes-laranja);
    transition: var(--transicao);
}

.vagalumes .link{
    color: var(--vagalumes-vermelho);
    transition: var(--transicao);
}

.vagalumes .link:hover{
    color: var(--vagalumes-vermelho-escuro);
    transition: var(--transicao);
}

/* */

.vagalumes #imagem-info-direita {
    background-image: url('../../public/imgs/vagalumes-icon.png');
}

/* ---------- TOTORO ---------- */

.totoro #div-mae{
    background: rgb(98,120,47);
    background: linear-gradient(270deg, rgba(98,120,47,1) 0%, rgba(73,77,65,1) 100%);
    transition: var(--transicao);
}

.totoro #div-filha{
    background-color: var(--totoro-verde-abacate);
    transition: var(--transicao);
}

/* --- principal --- */

.totoro .titulo-sessao-destaque, .totoro .subtitulo-sessao-destaque, .totoro #studioghibli-logo, .totoro #header-meio ul li a{
    color: var(--totoro-verde-grama);
    transition: var(--transicao);
}

.totoro #header-meio ul li a:hover, .totoro #header-favorito:hover, .totoro #rect-hamburguer-menu:hover, .totoro #studioghibli-setinha:hover{
    color: var(--totoro-amarelo);
    fill: var(--totoro-amarelo);
    stroke: var(--totoro-amarelo);
    transition: var(--transicao);
}

.totoro #header-favorito, .totoro #rect-hamburguer-menu, .totoro #studioghibli-setinha{
    fill: var(--totoro-verde-grama);
    stroke: var(--totoro-verde-grama);
    transition: var(--transicao);
}

.totoro #header.abaixado{
    background-color: var(--totoro-ebono); 
    transition: var(--transicao);
}

.totoro .menu-nav-opcoes ul li a{
    color:var(--totoro-amarelo)
}

.totoro .menu-nav-opcoes ul li a:hover{
    color: var(--totoro-ebono);
}

/* --- */


.totoro #significadoGhibli-h1{
    color: var(--totoro-amarelo-escuro);
    transition: var(--transicao);
}

.totoro .titulo-topico{
    color: var(--totoro-amarelo);
    transition: var(--transicao);
}

.totoro .paragrafo-texto{
    color: var(--totoro-amarelo);
    transition: var(--transicao);
}

.totoro .link{
    color: var(--totoro-laranja);
    transition: var(--transicao);
}

.totoro .link:hover{
    color: var(--totoro-ebono);
    transition: var(--transicao);
}

/* */

.totoro #imagem-info-direita{
    background-image: url('../../public/imgs/totoro-icon.png');
}


/* ---------- KAGUYA ---------- */

.kaguya #div-mae{
    background: rgb(255,245,244);
    background: linear-gradient(270deg, rgba(255,245,244,1) 0%, rgba(254,186,211,1) 100%);
    transition: var(--transicao);
}

.kaguya #div-filha{
    background-color: var(--kaguya-rosa-claro);
    transition: var(--transicao);
}

/* --- principal --- */

.kaguya .titulo-sessao-destaque, .kaguya .subtitulo-sessao-destaque, .kaguya #studioghibli-logo, .kaguya #header-meio ul li a{
    color: var(--kaguya-rosa-choque);
    transition: var(--transicao);
}

.kaguya #header-meio ul li a:hover, .kaguya #header-favorito:hover, .kaguya #rect-hamburguer-menu:hover, .kaguya #studioghibli-setinha:hover{
    color: var(--kaguya-chumbo);
    fill: var(--kaguya-chumbo);
    stroke: var(--kaguya-chumbo);
    transition: var(--transicao);
}

.kaguya #header-favorito, .kaguya #rect-hamburguer-menu, .kaguya #studioghibli-setinha{
    fill: var(--kaguya-rosa-choque);
    stroke: var(--kaguya-rosa-choque);
    transition: var(--transicao);
}

.kaguya #header.abaixado{
    background-color: var(--kaguya-creme); 
    transition: var(--transicao);
}

.kaguya .menu-nav-opcoes ul li a{
    color:var(--kaguya-rosa-choque);
}

.kaguya .menu-nav-opcoes ul li a:hover{
    color: var(--kaguya-chumbo);
}

/* --- */


.kaguya #significadoGhibli-h1{
    color: var(--kaguya-rosa-choque);
    transition: var(--transicao);
}

.kaguya .titulo-topico{
    color: var(--kaguya-chumbo);
    transition: var(--transicao);
}

.kaguya .paragrafo-texto{
    color: var(--kaguya-ciano);
    transition: var(--transicao);
}

.kaguya .link{
    color: var(--kaguya-creme);
    transition: var(--transicao);
}

.kaguya .link:hover{
    color: var(--kaguya-rosa-choque);
    transition: var(--transicao);
}

/* */

.kaguya #imagem-info-direita{
    background-image: url('../../public/imgs/kaguya-icon.png');
}