:root{
    --branco: #f3f3f3;
    --branco-puro: #FFFFFF;
    --preto: #333333;
    --cinza-escuro: #3b3b3b;
    --cinza: #767676;
    --transicao: 0.5s ease-in-out
}

/*--*/

.chihiro {
    --chihiro-azul-escuro: #0B305C;
    --chihiro-azul-claro: #aacae0;
    --chihiro-verde-escuro: #216862;
    --chihiro-verde-persa: #30A094;
    --chihiro-azul: #01628F;
    --chihiro-verde: #53A253;
}

.vagalumes {
    --vagalumes-vermelho: #912d2d;
    --vagalumes-vermelho-escuro: #4C1E14;
    --vagalumes-preto: #110905;
    --vagalumes-amarelo-fogo: #FEA619;
    --vagalumes-laranja: #E27C17;
}

.kaguya {
    --kaguya-rosa-claro: #FEBAD3;
    --kaguya-rosa-choque: #F476A8;
    --kaguya-ciano: #4B5868;
    --kaguya-chumbo: #5A6A7E;
    --kaguya-creme: #FFF5F4;
    /*--branco: #f3f3f3;*/
}

.totoro {
    --totoro-amarelo: #EFE604;
    --totoro-laranja: #F7744F;
    --totoro-verde-abacate: #62782F;
    --totoro-ebono: #494D41;
    --totoro-azul-ceu: #90D0DA;
    --totoro-verde-grama: #80AD35;
}

.teste{
    --woocommerce: #720eec;
    --wc-green: #7ad03a;
    --wc-red: #a00;
    --wc-orange: #ffba00;
    --wc-blue: #2ea2cc;
    --wc-primary: #720eec;
    --wc-primary-text: #fcfbfe;
    --wc-secondary: #e9e6ed;
    --wc-secondary-text: #515151;
    --wc-highlight: #958e09;
    --wc-highligh-text: white;
    --wc-content-bg: #fff;
    --wc-subtext: #767676;
    --wc-form-border-color: rgba(32, 7, 7, 0.8);
    --wc-form-border-radius: 4px;
    --wc-form-border-width: 1px;
    --mobile-container-width: 88%;
    --nectar-accent-color: #3452ff;
    --nectar-extra-color-1: #ff1053;
    --nectar-extra-color-2: #2ed397;
    --nectar-extra-color-3: #8224e3;
    --nectar-bg-color: #ffffff;
    --header-nav-height: 124px;
    --nectar-border-thickness: 2px;
    --nectar-starting-header-color: #ffffff;
    --nectar-starting-dark-header-color: #000000;
}

/* ---------- CHIHIRO ---------- */

body.chihiro{
    background-color: var(--branco);
}

/* ------ common.css ------ */

.chihiro .paragrafo-texto{
    color: var(--cinza-escuro);
    transition: var(--transicao);
}

.chihiro .link{
    color: var(--chihiro-verde);
    transition: var(--transicao);
}

.chihiro .link:hover{
    color: var(--chihiro-verde-escuro);
    transition: var(--transicao);
}

/* ------ globals.css ------ */

.chihiro .titulo-sessao-destaque, .chihiro .subtitulo-sessao-destaque, .chihiro #studioghibli-logo, .chihiro #header-meio ul li a{
    color: var(--branco-puro);
    transition: var(--transicao)
}

.chihiro #header-favorito, .chihiro #rect-hamburguer-menu, .chihiro #studioghibli-setinha{
    fill: var(--branco-puro);
    stroke: var(--branco-puro);
    transition: var(--transicao);
}

.chihiro .titulo-topico{
    color: var(--preto);
}

.chihiro #header.abaixado{
    background-color: var(--chihiro-azul); 
}

/* --- principal --- */


/* --- sessao significado ghibli --- */

.chihiro #significadoGhibli-h1{
    color: var(--preto);
}

/* --- sessão info --- */

.chihiro .sessao-info-esquerda{
    background-color: var(--branco-puro);
    border-radius: 50px;
}





/* ---------- VAGALUMES ---------- */

body.vagalumes{
    background-color: var(--vagalumes-preto);
}



/* --- principal --- */

.vagalumes .titulo-sessao-destaque, .vagalumes .subtitulo-sessao-destaque, .vagalumes #studioghibli-logo, .vagalumes #header-meio ul li a{
    color: var(--vagalumes-amarelo-fogo);
    transition: var(--transicao);
}

.vagalumes #header-favorito, .vagalumes #rect-hamburguer-menu, .vagalumes #studioghibli-setinha{
    fill: var(--vagalumes-amarelo-fogo);
    stroke: var(--vagalumes-amarelo-fogo);
    transition: var(--transicao);
}

.vagalumes #header.abaixado{
    background-color: var(--vagalumes-vermelho-escuro); 
}




/* ---------- TOTORO ---------- */

body.totoro{
    background-color: var(--totoro-verde-abacate);
}

/* --- principal --- */

.totoro .titulo-sessao-destaque, .totoro .subtitulo-sessao-destaque, .totoro #studioghibli-logo, .totoro #header-meio ul li a{
    color: var(--totoro-verde-grama);
    transition: var(--transicao);
}

.totoro #header-favorito, .totoro #rect-hamburguer-menu, .totoro #studioghibli-setinha{
    fill: var(--totoro-verde-grama);
    stroke: var(--totoro-verde-grama);
    transition: var(--transicao);
}

.totoro #header.abaixado{
    background-color: var(--totoro-ebono); 
}



/* ---------- KAGUYA ---------- */

body.kaguya{
    background-color: var(--kaguya-rosa-claro);
}



/* --- principal --- */

.kaguya .titulo-sessao-destaque, .kaguya .subtitulo-sessao-destaque, .kaguya #studioghibli-logo, .kaguya #header-meio ul li a{
    color: var(--kaguya-rosa-choque);
    transition: var(--transicao);
}

.kaguya #header-favorito, .kaguya #rect-hamburguer-menu, .kaguya #studioghibli-setinha{
    fill: var(--kaguya-rosa-choque);
    stroke: var(--kaguya-rosa-choque);
    transition: var(--transicao);
}

.kaguya #header.abaixado{
    background-color: var(--kaguya-creme); 
}